* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
p{
    color: #757575; 
    line-height: 28px; 
}
.btn-primary {
    height: 64px;
    color: white;
    background: #FD6E0A;
    padding: 18px 36px;
   border-radius: 5px;
   font-weight: 700;
  font-size: 20px;
    border-style: none;
}

/*header*/
.header{
    background-color:  #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 68px 230px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}
/* banner style */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-subtitle{
color: #474747;
font-weight: 600;
font-size: 45px;
}
.banner-title{
    color: #181818;
    font-weight: 700;
font-size: 85px;
margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-btns{
    display: flex;
    gap: 30px;
}
.banner-btn{
    font-weight: 700;
font-size: 20px;
color: #FD6E0A;
background:  transparent;
padding: 18px 36px;
border-style: none;
border: 1px solid #FD6E0A;
border-radius: 5px;
}
/* main{
    margin:0 auto;
    max-width: 1140px;
} */

/* about */
.about{
    background-color: #FFF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 230px;
    padding: 130px 156px;
    gap: 30px;
    border-radius: 10px;

}
.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 18px;
    line-height: 30px;  
    text-align: center; 
    color: #757575;
    text-align: center;
}
.section-info-container{
    display: flex;
    gap: 30px;
}

.info-title{
    font-size: 20px;
    text-align: center;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}
.work{
    margin: 130px 230px;
display: flex;
flex-direction: column;
gap: 50px;
align-items: center;
}
.work-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 115px;
}
.work-down{
    display: flex;
    gap: 24px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    padding: 30px 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-details{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap:20px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
}
.skill-description{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 230px;
    gap:110px;
}
.resume-container{
    display: flex;
    gap: 70px;
}
.resume-parts
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.resume-component{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    
}
.resume-subtitle{
    font-weight: 700;
font-size: 25px;
color: #474747;
}
.resume-title-des{
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;
}
.resume-des{
    padding-top: 20px;
    padding-bottom: 30px;
}
hr{
    color: #D1D1D1;
}
footer{
    background-color: #FFF8F3;
}
.footer-container{
   padding: 130px 230px;
   display: flex;
   gap:120px;
}
.footer-part{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: baseline;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-form input{
    border-radius: 5px;
    padding: 18px 30px;
    border-style: none;
}
.contact-form textarea{
    border-style: none;
    border-radius: 5px;
}